@font-face {
    font-family: font-special-valentine;
    src: url(font/special-valentine.ttf);
}
$font-montserrat: 'Montserrat', sans-serif;

$color-light-pink: #f08f90;
$color-dark-pink: #c93756;
$color-alt-pink: #db5a6b;
